.header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 100;
    padding: 40px 55px;
    background: #fff;

    font-family: Arial;

    .logo {
        width: 100%;
        text-align: center;
    }

    .logo img {
        max-width: 100%;
    }

    .menu {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;
        
        a {
            display: block;
            padding: 13px 0;
            color: #000;
            text-decoration: none;

            &.active {
                color: darkred;
            }
        }
    }
}