.board {
    justify-content: center;
    border-color: #000;
}

.field.player-x {
  color: blue;
}

.field.player-o {
  color: red;
}

.board.winner-x {
  background-color: blue;
  border-color: #f5f5f5;
}

.board.winner-o {
  background-color: red;
  border-color: #f5f5f5;
}

.board.winner-x .field, .board.winner-o .field {
  border: solid 3px #f5f5f5;
  color: #f5f5f5;
}

.board.active {
  cursor: pointer;
}

.board.active.player-x, .board.active.player-x .field {
  border: solid 3px blue;
}

.board.active.player-o, .board.active.player-o .field {
  border: solid 3px red;
}